#head {
    background: rgb(219, 219, 226);
    height: 8%;
    width: 100%;
}

#add-head {
    height: 8%;
    width: 100%;
}

.icon {
    height: 100%;
    width: 100%;
}

.head-item {
    display: block;
    position: relative;
    top: 20%;
    left: 3%;
    height: 80%;
    width: 94%;
}

#meun {
    height: 30px;
    width: 30px;
    float: left;
}

#add {
    height: 30px;
    width: 30px;
    float: right;
}

#cont {
    height: 92%;
    width: 100%;
    overflow: scroll;
}

.item {
    height: 40px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid rgb(231, 219, 219);
    overflow: hidden;
}

.view {
    position: relative;
}

.item-text {
    width: 100%;
}

.del {
    height: 125%;
    width: 15%;
    float: right;
    position: relative;
    top: -50px;
    left: 15%;
}

#add-background {
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    display: none;
}

#return {
    height: 30px;
    width: 30px;
    float: left;
}

#right {
    height: 30px;
    width: 30px;
    float: right;
}

#add-input {
    position: absolute;
    left: 5%;
    width: 90%;
    top: 12%;
    height: 80%;
    font-size: 25px;
    outline: 0px;
}